<?xml version="1.0"?>
<launch>

    <include file="$(find naoqi_driver)/launch/naoqi_driver.launch" >
    <arg name="nao_ip" value="10.0.0.3 "/>
    <arg name="network_interface" value="ens33"/>
    </include>

    <node name="pepper_annim" pkg="pepper_bt" type="annimation_node"  output="log" >
    </node>
   
    

</launch>